footer.footer
    .container
        .row
            .col-24
                .footer__container
                    img(src="/images/logo-footer.png")
                    ul.footer__social
                        li.footer__item
                            a(href="#")
                                i.fa.fa-facebook    
                        li.footer__item
                            a(href="#")
                                i.fa.fa-twitter
                        li.footer__item
                            a(href="#")
                                i.fa.fa-instagram
