header.header
    .container
        .row
            .col-24
                ul.header__social
                    li.header__item
                        a(href="https://www.facebook.com/VTRChile", target="_blank")
                            i.fa.fa-facebook    
                    li.header__item
                        a(href="https://twitter.com/vtrchile", target="_blank")
                            i.fa.fa-twitter
                    li.header__item
                        a(href="https://www.youtube.com/user/VTRChile", target="_blank")
                            i.fa.fa-instagram
