extends _layouts/base

block content
    main.home
        section.home__hero
            .container
                .row
                    .col-24
                        .home__hero__container
                            a.home__hero__vtr-logo(href="https://vtr.com", target="_blank")
                                img(src="/images/logo-vtr.png")
                            .home__hero__wrapper
                                ul.home__hero__list
                                    li.home__hero__item 
                                        a(href="/") preventas
                                    li.home__hero__item
                                        a(href="/lineup") lineup
                                    li.home__hero__item
                                        a(href="/vtr-shuffle") vtr shuffle
                                    li.home__hero__item
                                        a(href="/vod") vod
                                    li.home__hero__item
                                        a(href="/lollaquiz") lollaquizz
                                .home__hero__image
                                    img(src="/images/heading.png")
                            .home__hero__lolla-logo
                                img(src="/images/logo-lolla.png")
                                
        section.home__content
            .container
                .row
                    .col-24
                        .home__content__wrapper.home__content__wrapper--top
                            h2.home__content__title
                                |SI ERES CLIENTE VTR
                                span , vive hoy la preventa de lollapalooza chile 
                                span.-number 2020 
                                span con los beneficios exclusivos que tenemos para ti.
                        .home__content__wrapper.home__content__wrapper--middle.js-wrapper
                            .home__content__group.home__content__group--magenta(data-target="general")
                                .home__content__image
                                    img(src="/images/pase-lolla-general-cover.png")
                            .home__content__group.home__content__group--green(data-target="lounge")
                                .home__content__image
                                    img(src="/images/pase-lolla-lounge-cover.png")
                            .home__content__group.home__content__group--yellow(data-target="lounge-premium")
                                .home__content__image
                                    img(src="/images/pase-lolla-lounge-premium-cover.png")

                        .home__content__wrapper.home__content__wrapper--middle(data-content="general")
                            .home__content__container.home__content__container--general
                                .home__content__container-wrapper
                                    .home__content__container-image
                                        img(src="/images/pase-lolla-general.png")
                                    button.home__content__close-button
                                        span.-left
                                        span.-right
                                .home__content__table
                                    .home__content__table-row.home__content__table-row--headings
                                        .home__content__table-cell.home__content__table-cell--stock
                                            h4 stock
                                        .home__content__table-cell.home__content__table-cell--price
                                            h4 precios
                                        .home__content__table-cell.home__content__table-cell--service
                                            h4 cargo por servicio
                                        .home__content__table-cell.home__content__table-cell--final-price
                                            h4 precio final
                                    .home__content__table-row.-sold
                                        .home__content__table-cell.home__content__table-cell--row-title
                                            h3 early bird
                                        .home__content__table-cell.home__content__table-cell--stock
                                            label stock
                                            span 2.000
                                        .home__content__table-cell.home__content__table-cell--price
                                            label precio
                                            span $85.000
                                        .home__content__table-cell.home__content__table-cell--service
                                            label cargo por servicio
                                            span $10.200
                                        .home__content__table-cell.home__content__table-cell--final-price
                                            label precio final
                                            span $95.200
                                    .home__content__table-row.-sold
                                        .home__content__table-cell.home__content__table-cell--row-title
                                            h3 preventa 1
                                            p VTR 20% descuento
                                        .home__content__table-cell.home__content__table-cell--stock
                                            label stock
                                            span 10.000
                                            span.-color 4.100
                                        .home__content__table-cell.home__content__table-cell--price
                                            label precio
                                            span $140.000
                                            span.-color $112.000
                                        .home__content__table-cell.home__content__table-cell--service
                                            label cargo por servicio
                                            span $16.800
                                            span.-color $16.800
                                        .home__content__table-cell.home__content__table-cell--final-price
                                            label precio final
                                            span $156.800
                                            span.-color $128.800
                                    .home__content__table-row.-sold
                                        .home__content__table-cell.home__content__table-cell--row-title
                                            h3 preventa 2
                                            p VTR 20% descuento
                                        .home__content__table-cell.home__content__table-cell--stock
                                            label stock
                                            span 15.000
                                            span.-color 1.500
                                        .home__content__table-cell.home__content__table-cell--price
                                            label precio
                                            span $155.000
                                            span.-color $124.000
                                        .home__content__table-cell.home__content__table-cell--service
                                            label cargo por servicio
                                            span $18.600
                                            span.-color $18.600
                                        .home__content__table-cell.home__content__table-cell--final-price
                                            label precio final
                                            span $173.600
                                            span.-color $142.600
                                    .home__content__table-row
                                        .home__content__table-cell.home__content__table-cell--row-title
                                            h3 preventa 3
                                            p VTR 20% descuento
                                        .home__content__table-cell.home__content__table-cell--stock
                                            label stock
                                            span 14.000
                                            span.-color 2.700
                                        .home__content__table-cell.home__content__table-cell--price
                                            label precio
                                            span $175.000
                                            span.-color $140.000
                                        .home__content__table-cell.home__content__table-cell--service
                                            label cargo por servicio
                                            span $21.000
                                            span.-color $21.000
                                        .home__content__table-cell.home__content__table-cell--final-price
                                            label precio final
                                            span $196.000
                                            span.-color $161.000
                                    .home__content__table-row.-hidden
                                        .home__content__table-cell.home__content__table-cell--row-title
                                            h3 preventa 4
                                            p VTR 20% descuento
                                        .home__content__table-cell.home__content__table-cell--stock
                                            label stock
                                            span 3.800
                                            span.-color 1.800
                                        .home__content__table-cell.home__content__table-cell--price
                                            label precio
                                            span $190.000
                                            span.-color $152.000
                                        .home__content__table-cell.home__content__table-cell--service
                                            label cargo por servicio
                                            span $22.800
                                            span.-color $22.800
                                        .home__content__table-cell.home__content__table-cell--final-price
                                            label precio final
                                            span $212.800
                                            span.-color $174.800
                                    .home__content__table-row.-hidden
                                        .home__content__table-cell.home__content__table-cell--row-title
                                            h3 preventa 5
                                            p VTR 20% descuento
                                        .home__content__table-cell.home__content__table-cell--stock
                                            label stock
                                            span 2.000
                                            span.-color 450
                                        .home__content__table-cell.home__content__table-cell--price
                                            label precio
                                            span $120.000
                                            span.-color $168.000
                                        .home__content__table-cell.home__content__table-cell--service
                                            label cargo por servicio
                                            span $25.200
                                            span.-color $25.200
                                        .home__content__table-cell.home__content__table-cell--final-price
                                            label precio final
                                            span $235.200
                                            span.-color $193.200
                                a.home__content__buy-button(href="http://www.puntoticket.com/lollapalooza") compra tu entrada

                        .home__content__wrapper.home__content__wrapper--middle(data-content="lounge")
                            .home__content__container.home__content__container--lounge
                                .home__content__container-wrapper
                                    .home__content__container-image
                                        img(src="/images/pase-lolla-lounge.png")
                                    button.home__content__close-button
                                        span.-left
                                        span.-right
                                .home__content__table
                                    .home__content__table-row.home__content__table-row--headings
                                        .home__content__table-cell.home__content__table-cell--stock
                                            h4 stock
                                        .home__content__table-cell.home__content__table-cell--price
                                            h4 precios
                                        .home__content__table-cell.home__content__table-cell--service
                                            h4 cargo por servicio
                                        .home__content__table-cell.home__content__table-cell--final-price
                                            h4 precio final
                                    .home__content__table-row.-sold
                                        .home__content__table-cell.home__content__table-cell--row-title
                                            h3 preventa 1
                                            p VTR 20% descuento
                                        .home__content__table-cell.home__content__table-cell--stock
                                            label stock
                                            span 200
                                            span.-color 100
                                        .home__content__table-cell.home__content__table-cell--price
                                            label precio
                                            span $300.000
                                            span.-color $240.000
                                        .home__content__table-cell.home__content__table-cell--service
                                            label cargo por servicio
                                            span $36.800
                                            span.-color $36.800
                                        .home__content__table-cell.home__content__table-cell--final-price
                                            label precio final
                                            span $336.000
                                            span.-color $276.000
                                    .home__content__table-row
                                        .home__content__table-cell.home__content__table-cell--row-title
                                            h3 preventa 2
                                            p VTR 20% descuento
                                        .home__content__table-cell.home__content__table-cell--stock
                                            label stock
                                            span 300
                                            span.-color 200
                                        .home__content__table-cell.home__content__table-cell--price
                                            label precio
                                            span $360.000
                                            span.-color $288.000
                                        .home__content__table-cell.home__content__table-cell--service
                                            label cargo por servicio
                                            span $43.200
                                            span.-color $43.200
                                        .home__content__table-cell.home__content__table-cell--final-price
                                            label precio final
                                            span $403.200
                                            span.-color $331.200
                                    .home__content__table-row.-hidden
                                        .home__content__table-cell.home__content__table-cell--row-title
                                            h3 preventa 3
                                            p VTR 20% descuento
                                        .home__content__table-cell.home__content__table-cell--stock
                                            label stock
                                            span 300
                                            span.-color 150
                                        .home__content__table-cell.home__content__table-cell--price
                                            label precio
                                            span $420.000
                                            span.-color $336.000
                                        .home__content__table-cell.home__content__table-cell--service
                                            label cargo por servicio
                                            span $50.400
                                            span.-color $50.400
                                        .home__content__table-cell.home__content__table-cell--final-price
                                            label precio final
                                            span $470.400
                                            span.-color $386.400
                                a.home__content__buy-button(href="http://www.puntoticket.com/lollapalooza") compra tu entrada

                        .home__content__wrapper.home__content__wrapper--middle(data-content="lounge-premium")
                            .home__content__container.home__content__container--lounge-premium
                                .home__content__container-wrapper
                                    .home__content__container-image
                                        img(src="/images/pase-lolla-lounge-premium.png")
                                    button.home__content__close-button
                                        span.-left
                                        span.-right
                                .home__content__table
                                    .home__content__table-row.home__content__table-row--headings
                                        .home__content__table-cell.home__content__table-cell--stock
                                            h4 stock
                                        .home__content__table-cell.home__content__table-cell--price
                                            h4 precios
                                        .home__content__table-cell.home__content__table-cell--service
                                            h4 cargo por servicio
                                        .home__content__table-cell.home__content__table-cell--final-price
                                            h4 precio final
                                    .home__content__table-row.-sold
                                        .home__content__table-cell.home__content__table-cell--row-title
                                            h3 preventa 1
                                            p VTR 20% descuento
                                        .home__content__table-cell.home__content__table-cell--stock
                                            label stock
                                            span 100
                                            span.-color 500
                                        .home__content__table-cell.home__content__table-cell--price
                                            label precio
                                            span $455.000
                                            span.-color $364.000
                                        .home__content__table-cell.home__content__table-cell--service
                                            label cargo por servicio
                                            span $54.600
                                            span.-color $54.600
                                        .home__content__table-cell.home__content__table-cell--final-price
                                            label precio final
                                            span $509.600
                                            span.-color $418.600
                                    .home__content__table-row.-sold
                                        .home__content__table-cell.home__content__table-cell--row-title
                                            h3 preventa 2
                                            p VTR 20% descuento
                                        .home__content__table-cell.home__content__table-cell--stock
                                            label stock
                                            span 100
                                            span.-color 100
                                        .home__content__table-cell.home__content__table-cell--price
                                            label precio
                                            span $507.000
                                            span.-color $405.600
                                        .home__content__table-cell.home__content__table-cell--service
                                            label cargo por servicio
                                            span $60.900
                                            span.-color $60.900
                                        .home__content__table-cell.home__content__table-cell--final-price
                                            label precio final
                                            span $567.900
                                            span.-color $466.500
                                    .home__content__table-row
                                        .home__content__table-cell.home__content__table-cell--row-title
                                            h3 preventa 3
                                            p VTR 20% descuento
                                        .home__content__table-cell.home__content__table-cell--stock
                                            label stock
                                            span 100
                                            span.-color 150
                                        .home__content__table-cell.home__content__table-cell--price
                                            label precio
                                            span $585.000
                                            span.-color $468.000
                                        .home__content__table-cell.home__content__table-cell--service
                                            label cargo por servicio
                                            span $70.200
                                            span.-color $70.200
                                        .home__content__table-cell.home__content__table-cell--final-price
                                            label precio final
                                            span $655.200
                                            span.-color $538.200
                                a.home__content__buy-button(href="http://www.puntoticket.com/lollapalooza") compra tu entrada

                        .home__content__wrapper.home__content__wrapper--bottom